html
    head
        style
            include ./vendor/normalize.css
            include ./fonts/Inter/Web/inter.css
            include ./bloks/page/page.css
            include ./bloks/header/header.css
            include ./bloks/header/__title/header__title.css
            include ./bloks/runs/runs.css
            include ./bloks/runs/__title/runs__title.css
            include ./bloks/table/table.css
            include ./bloks/table/__column/table__column.css
            include ./bloks/table/__column/_type/table__column_type_head.css
            include ./bloks/table/__column/_type/table__column_type_body.css
        title=name
    body.page
        div.header
            h1.header__title GitHub data
        main.content
            section.runs
                h2.runs__title Runs
                table.table
                    thead
                        tr
                            each column in columns
                                th.table__column.table__column_type_head=column
                    tbody
                        each val in values.length ? values : ['There are no values']
                            tr
                                each column in columns
                                    td.table__column.table__column_type_body=val[column]
